/* NAV BAR LEFT STARTS HERE  */

.navBarLeft {
  background-color: var(--primary-clr);
  height: 100vh;
  /* top: 100px; */
  /* box-shadow: 0.2px 0.2px 10px rgb(212, 212, 212); */
  /* box-shadow: 0.2px 0.2px 10px rgb(212, 212, 212); */
  width: fit-content;
  /* border-radius: 0px 0px 0px 50px; */
  /*  */
  position: fixed;
  top: 84px;
  padding-top: 17px;
 


}






.navBarLeft li {
  list-style-type: none;
  padding: 15px 0px 10px 13px;

  text-align: center;
}

.navBarLeft a {
  padding: 5px 4px;


  /* color: var(--black-clr); */
  color: white;
  text-decoration: none;

}

.navBarLeft svg {
  /* color: var(--grey-color);  */
  color: var(--light-white) !important;
  /* font-size: 30px; */
  padding: 10px !important;
}

.navBarLeft svg {
  color: var(--navLeftIcon);
  /* Default color */
  font-size: 50px;
  padding: 10px;
}

/* Change the background of the li when the link is active */
.navBarLeft ul li a.active-link {
  color: var(--primary-clr) !important;
  /* Optional: Highlight the link */
}

/* Target the li that contains the active link */
.navBarLeft ul li a.active-link svg {
  animation-name: leftNavAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  color: var(--primary-clr) !important;
  /* Change the SVG color to red when the link is active */
}


/* Apply yellow background to the li containing the active link */
.navBarLeft ul li a.active-link {
  transition: 1.2s;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--light-white);
  width: 100%;
  text-align: left;
}

.navBarLeft ul li a.active-link {
  display: block;
}


@keyframes leftNavAnim {
  to {
    transform: scale(1.2);
  }
}


@media only screen and (max-width:768px) {
  .navBarLeft li {
    list-style-type: none;
    padding: 27px 0px 29px 15px;
    text-align: center;
  }

  .navBarLeft svg {
    color: var(--navLeftIcon);
    font-size: 42px;
    padding: 10px;
  }

}



.navBarLeft ul {
  list-style: none;
  padding: 0;
}

.navBarLeft li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navBarLeft .icon {
  font-size: 22px;
  margin-right: 10px;
}

.navBarLeft .label {
  font-size: 16px;
  font-weight: 500;
}